@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    position: fixed;
    width: 100%;
    height: 100%;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgb(179, 4, 4), rgb(108, 1, 1) 50%, rgb(95, 0, 0) 60%, rgb(66, 0, 0)) ;
    display: flex;

    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

main{
    display: flex;
    justify-content: center;
}


div.menu{
    display: flex;
    padding: 30px 60px;
    gap: 10px;
    align-items: center;
}


p{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    
    font-variant-caps: all-petite-caps;
}

p.paragrafo-garrafa-coca-cola{
    top: 50%;
    left: 50%;
    font-size: 2.5em;
    position: absolute;
    transform: translate(-150%,-50%);

    width: 270px;
    text-align: right;

    text-shadow: 0px 3px 10px rgb(187, 187, 187);
}



div.coca-cola{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.img-coca{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    filter: drop-shadow(0px 200px 30px rgba(0, 0, 0, 0.411));
}

div.img-coca img{
    width: 90%;
}

div.logo-background{

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    z-index: -10;
    opacity: 0.2;

    filter: blur(3px);

}

div.logo-background img{
    width: 100vw;
}

footer{
    position: absolute;
    top: 85%;
    left: 87%;
}

div.global img{
    width: 10vw;
}

@media(max-width:768px){
    p.paragrafo-garrafa-coca-cola{
        top: 16%;
        left: 50%;
        font-size: 1.5em;
        position: absolute;
        transform: translate(-50%,-50%);

        width: 200px;
        text-align: center;

        text-shadow: 0px 3px 10px rgb(187, 187, 187);
    }

    footer{
        position: absolute;
        top: 90%;
        left: 80%;
    }

    div.img-coca{
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        filter: drop-shadow(0px 50px 30px rgba(0, 0, 0, 0.411));
    }

    div.menu{
    display: flex;
    padding: 20px;
    gap: 10px;
    align-items: center;
}

    div.img-coca{
        width: 20%;
    }

    div.menu{
        margin-top: 10px;
    }
    

    div.menu img{
        width: 4vw;
    }
}